* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
*::selection {
  color: #6f2c8d;
  background: #fff;
}
.main-color {
  background: #8d44b6;
  color: #fff;
}
ul li:hover {
  background: #6f2c8d;
  color: #fff;
}
ul li input:hover {
  cursor: pointer;
}
button:hover {
  font-size: 18px;
  background: #6f2c8d;
  transition: font-size background, font-size 0.5s ease;
}
button:not(:hover) {
  transition: background, font-size 0.5s ease;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.banner {
  display: none;
}
